
<form name="myForm" class="col-sm-4 offset-sm-4 bg- secondary text-white ">
    <div class="form-group row justify-content-center">
    <label>login:</label>
    <input type="text" name="name" [(ngModel)] ="name" class="form-control" placeholder="input product">
    </div>
    <div class="form-group row justify-content-center">
    <label>password:</label>
    <input type="text" name="price" [(ngModel)]="price" class="form-control" placeholder="input price">
    </div>
    <div class="form-group text-center">
    <input type="submit" value="Send" class="btn btn-danger" (click)="addProduct()"> </div>
    </form>
<section class="table-dark  col-sm-5" style="margin: auto">
            <app-product scope="row" style="margin: auto" class="row" *ngFor='let item of products'
            [product]='item'
            (eventProduct)='loadProducts()'> 
            </app-product>
</section>